/* static/example.css - sample custom styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    max-width: 60rem;
    margin: auto;
}

.active_link {
    color: #d33;
    text-decoration: underline;
}